#Ignore these folders
/oldsites
# Ignore all .DS_store
*.DS_Store
# Ignore all these file types
*.psd
*.mp4
*.asv
*.*.html
# Ingore random other trash
*BASE*
index_chatGPT.html
*.!7
Research*
howsthewater 2.html
howsthewater.jpg
howsthewaves.jpg
howstherays.jpg

