#Ignore these folders
/oldsites
/oldbases
/howsthewater/reg_info/
/rebuild/
# Ignore these files
checksystem.m

# Ignore all .DS_store
*.DS_Store
# Ignore all these file types
*.psd
*.mp4
*.asv
*.nc
*.mat
*.*.html
# Ingore random other trash
index_chatGPT.html
*.!7
*.ht
Research*
